useDynLib(SpLoc)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo)
importFrom(Matrix)
importFrom(bigmemory)
export(SpLoc)
export(ClusterSearch)
export(combine)
export(process)
export(processSpLocfit)
export(getResidMatrix)