useDynLib(SpLoc)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo)
importFrom(Matrix)
importFrom(bigmemory)
export(SpLoc)
export(SpLocMean)
export(SpLocDiff)
export(MassiveMean)
export(MassiveDiff)
export(ClusterSearch)
export(buildNNmatrix3D)
export(buildNNmatrixDist)
export(combine)
export(process)
export(processSpLocfit)
export(getSummaryMatrix)