useDynLib(SpLoc)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo)
importFrom(Matrix)
importFrom(bigmemory)
export(SpLoc)
export(SpLoc2)
export(SpLocC)
export(ClusterSearch)
export(combine)
export(getResidMatrix)